<h1>Index</h1>

<% if notice.present? %>
  <div class="notice">
    <p><%= notice %></p>
  </div>
<% end %>

<%= link_to 'New To Do', new_todo_path %>

<ul class="list-group">
  <% @todos.each do |todo| %>
    <li class="list-group-item">
      <p><%= todo.description %></p>
      <%= link_to 'Show', todo_path(todo) %>
      <%= link_to 'Edit', edit_todo_path(todo) %>
      <%= link_to 'Delete', todo_path(todo), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>