<h1>Index</h1>

<% if notice.present? %>
  <div class="notice">
    <p><%= notice %></p>
  </div>
<% end %>

<ul class="list-group">
  <% @todos.each do |todo| %>
    <li class="list-group-item d-md-flex justify-content-between">
      <p><%= todo.description %></p>
      <div class="buttons">
        <%= link_to 'Show', todo_path(todo), class:'btn btn-info' %>
        <%= link_to 'Edit', edit_todo_path(todo), class:'btn btn-secondary' %>
        <%= link_to 'Delete', todo_path(todo), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %>
        <%= link_to 'Completed?', complete_todo_path(todo), method: :patch, class: 'btn btn-success' %>
      </div>
    </li>
  <% end %>
</ul>